@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Inter;
}

body {
    background: #565656;
}

a {
    color: unset;
    text-decoration: none;
}